.Products {
  display: grid;
  grid-template-columns: repeat(3, minmax(12rem, 1fr));
  gap:6rem;
  padding: 2rem;
  padding-right: 5rem;
}
.Title {
  text-transform: uppercase;
  font-size: 0.82rem;
  font-weight: 500;
  letter-spacing: .4px;
  color: #8898aa;
  padding-bottom: 1.5rem;
  white-space: nowrap;
}

.List {
  display: grid;
  gap: 1rem;
}
.Item {
  padding: 0.5rem 0;
  display: flex;
}
.SmallIcon {
  width: .9rem;
  height: .9rem;
  border-radius: 2px;
  background: #ddd;
  margin-right: .5rem;
  transition: .3s;
  margin-top: .05rem;
  margin-top: .05rem;
}

.BigIcon {
  width: 2.1rem;
  height: 2.1rem;
  border-radius: 4px;
  background: #ddd;
  margin-right: 1rem;;
  transition: .3s;
  opacity: .6;
}
.Item svg {
  display: none;
}
.Item:hover {
  cursor: pointer;
}

.Item:hover svg {
  display: inline-block;
}

.Item:hover .ItemSubTitle {
  color: #0a2540;
}
.Item:hover .SmallIcon {
  background: #0a2540;
}

.ItemTitle {
  font-size: 0.9rem;
  font-weight: 700;

  display: flex;
  align-items: center;
  gap: 0.25rem;
  padding-bottom: 0.1rem;
  
  white-space: nowrap;
}

.ItemSubTitle {
  font-size: 0.9rem;
  color: #787878;
  transition: 0.1s;
  font-weight: 400;
  white-space: nowrap;
}


.UseCases {
  display: grid;
  gap: 1rem;
  padding: 2rem;
}

.Developers {
  padding: 2rem;
  box-sizing: border-box;
  padding-right:5rem;
}

.TwoColumns {
  display: grid;
  grid-template-columns: repeat(2, minmax(5rem, 1fr));
  gap: 10rem;
}

.Bottom {
  background: #f6f9fc;
  width: calc(100% + 3rem);
  margin-top: 2.5rem;
  padding: 1.5rem 2rem ;
  margin-bottom: -2rem;
  margin-left: -2rem;
}